<p-toolbar styleClass="p-1 shadow-6">
  <div class="p-toolbar-group-start ml-7">
    <i class="pi pi-server mr-5"></i>
    <h3 class="mr-8 font-normal">
      Full Stack Coding Challenge Angular Front-End
    </h3>
    <div *ngIf="role == 'admin' && loggedIn">
      <p-button
        styleClass="p-2 p-button-raised"
        class="mr-8 ml-8"
        color="primary"
        routerLink="/employees"
        >All Employees</p-button
      >
      <p-button
        styleClass="p-2"
        class="ml-8 p-button-raised"
        color="primary"
        routerLink="/new-employee"
        >Add Employee</p-button
      >
    </div>
  </div>
  <div class="p-toolbar-group-end">
    <p-button
      *ngIf="loggedIn"
      (onClick)="onLogout()"
      styleClass="p-button-secondary p-button-text"
      routerLink="/"
      >Logout <i class="pi pi-sign-out ml-5"></i
    ></p-button>
  </div>
</p-toolbar>
<p-toast></p-toast>
